/*установка по*/

.imgg{                 /*for all images кроме первой*/
	text-align: center;
	height: 400px;
}
.imgg1{               /*для первой*/
	text-align: center;
	height: 250px;
}
.imgg3{               /*для первой в 3.2*/
	text-align: center;
	height: 500px;
}
.imgg4{               /*для 3.2 маленькая*/
	text-align: center;
	height: 150px;
}
.imgg-right{
    position: relative;   /*для двух фоток типо сравнения*/
	height: 110px;
	padding-left: 40em;

}
a.active {
    background-color: rgba(10, 110, 201, 1);
    color: #4A90F2;
}
.imgg-left{               /*для двух фоток типо сравнения*/
    position: relative;
	height: 150px;
	width: 100px;
    padding-bottom: 10em;
	padding-left: 10em;
	margin-top:-5em;
}
p{
	padding-left:30px;
	text-indent: 1.5em;
}
a{
	color:#1E79A9;

}
.prog{
	padding-left:50px;
	padding-top: 20px;
	height:230px;
	width:1000px;
}
.prog p{
		border-bottom: 1px solid #54B0A6;
		background-color: #D2EFEA;
}
table td{
	 border-bottom: 1px solid #D2EFEA;
	 width: 300px;
	 padding-left: 50px;
}
span.opredelenia{
	font-weight:bold;
	color: black;
	border-bottom:2px solid currentColor;
}
.img_border{
	border: 2px solid black;

}
.spisok{                            /*для списков(4.2)*/
	padding-left:5px;
	padding-top: 5px;
	height:230px;
	width:1000px;
}
